* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.box {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgba(121, 66, 27, 0.6);
}

.container {
  margin: 0 auto;
  max-width: 600px;
  min-width: 600px;
  width: 80%;
  background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
  background-color: #0C0C0C;
}

.grid {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  margin-top: 10px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

div.box img {
  width: 32px;
  height: 32px;
}

div.box img.dimmy {
  opacity: 0.3
}

div.pointer {
  padding-top: 10px;
}

div.pointer img {
  width: 40px;
  height: 40px;
}

div.footer img.playerIcon {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

h1 {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 0.1em;
}

h2 {
  display: inline;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.footer>div {
  width: 50%;
  height: 100px;
  vertical-align: middle;
}

div.score_div {
  width: 20%;
}

div.pointer.player2 {
  display: none;
}

.myButton {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #593921), color-stop(1, #946541));
  background: -moz-linear-gradient(top, #593921 5%, #946541 100%);
  background: -webkit-linear-gradient(top, #593921 5%, #946541 100%);
  background: -o-linear-gradient(top, #593921 5%, #946541 100%);
  background: -ms-linear-gradient(top, #593921 5%, #946541 100%);
  background: linear-gradient(to bottom, #593921 5%, #946541 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#593921', endColorstr='#946541', GradientType=0);
  background-color: #593921;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  margin-top: 20px;
  padding: 16px 31px;
  text-decoration: none;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #946541), color-stop(1, #593921));
  background: -moz-linear-gradient(top, #946541 5%, #593921 100%);
  background: -webkit-linear-gradient(top, #946541 5%, #593921 100%);
  background: -o-linear-gradient(top, #946541 5%, #593921 100%);
  background: -ms-linear-gradient(top, #946541 5%, #593921 100%);
  background: linear-gradient(to bottom, #946541 5%, #593921 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#946541', endColorstr='#593921', GradientType=0);
  background-color: #946541;
}

.myButton:active {
  position: relative;
  top: 1px;
}
